form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  border: 2px solid var(--grey);
  -webkit-border-radius: 5px;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

button[type="submit"] {
  padding: 7px 15px;
  background: var(--blue);
  color: var(--white);
  border: 0 none;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: var(--darkblue);
}
